---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
 	<meta name="description" CONTENT="2019 Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins">
	<title>New Golf Courses Completed 2019 - Golf Architecture - Renovation</title>
	 
	<script src="https://cmp.osano.com/Azqae7Tg5rIXKJsl/a6843304-e87a-485e-aabb-2b21be3ed691/osano.js"></script>
 </head>

 <BODY>
	<div style="width: 100%;">	
		<!-- Content for Desktop Devices --> 
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<H1>New Golf Courses Completed in 2019</H1>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
			   	<div class="col-md-4">
					<lite-youtube videoid="0F0FVZY9KfA" style="background-image: url('https://i3.ytimg.com/vi/0F0FVZY9KfA/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=0F0FVZY9KfA" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">Peninsula Kingswood N<</span></a>
					</lite-youtube>
					<h4>Peninsula Kingswood N<</h4>
			   	</div>
			   	<div class="col-md-4">
					<lite-youtube videoid="DBZCGjNNvg0" style="background-image: url('https://i.ytimg.com/vi/DBZCGjNNvg0/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=DBZCGjNNvg0" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">Ozarks National</span></a>
					</lite-youtube>
					<h4>Ozarks National</h4>
			   	</div>
				<div class="col-md-4">
					<lite-youtube videoid="pAL09ayzfkE" style="background-image: url('https://i3.ytimg.com/vi/pAL09ayzfkE/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=pAL09ayzfkE" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">Princes Golf Club</span></a>
					</lite-youtube>
					<h4>Princes Golf Club</h4>
			   	</div>
			</div>
		</div>
	
		{% include pastYear2019.html %}	
	</div>
		
	{% include bodyFooter.html %}
 </BODY>
	
 {% include footer.html %}
</html>
