---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include headerSc.html %}
 	<meta name="description" CONTENT="2021 Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins">
	<title>New Golf Courses Completed 2021 - Golf Architecture - Renovation</title>
	 
	<script src="https://cmp.osano.com/Azqae7Tg5rIXKJsl/a6843304-e87a-485e-aabb-2b21be3ed691/osano.js"></script>
 </head>

 <BODY>
	 <div style="width: 100%;">
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<H1>New Golf Courses Completed in 2021</H1>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
			   	<div class="col-md-6">
					<lite-youtube videoid="2sSosWXHeoI" style="background-image: url('https://i3.ytimg.com/vi/2sSosWXHeoI/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=2sSosWXHeoI" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">TheGCSAATV - Congressional Blue<</span></a>
					</lite-youtube>
					<h4>TheGCSAATV - Congressional Blue</h4>
			   	</div>
			   	<div class="col-md-6">
					<lite-youtube videoid="lG-OAQfUFGQ" style="background-image: url('https://i.ytimg.com/vi/lG-OAQfUFGQ/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=lG-OAQfUFGQ" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">European Golf Design - Marco Simone</span></a>
					</lite-youtube>
					<h4>European Golf Design - Marco Simone</h4>
			   	</div>
			</div>
		</div>
		{% include pastYear2021.html %}	
	</div>
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
