---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
 	<meta name="description" CONTENT="2023 Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins Matkovich Jackson Kahn">
	<title>New Golf Courses Completed 2023 - Golf Architecture - Renovation</title>
	 
	<script src="https://cmp.osano.com/Azqae7Tg5rIXKJsl/a6843304-e87a-485e-aabb-2b21be3ed691/osano.js"></script>
 </head>

 <BODY>
	 <div style="width: 100%;">
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<H1>2023 Golf Architecture New Construction Renovate Restore</H1>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
			   	<div class="col-md-4">
					<lite-youtube videoid="TQOyZlvkves" style="background-image: url('https://i3.ytimg.com/vi/TQOyZlvkves/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=TQOyZlvkves" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">Old Barnwell</span></a>
					</lite-youtube>
					<h4>Old Barnwell</h4>
			   	</div>
			   	<div class="col-md-4">
					<lite-youtube videoid="OQP1gTqRfD8" style="background-image: url('https://i.ytimg.com/vi/OQP1gTqRfD8/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=OQP1gTqRfD8" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">Panther National</span></a>
					</lite-youtube>
					<h4>Panther National</h4>
			   	</div>
				<div class="col-md-4">
					<lite-youtube videoid="kHg3DWgJb28" style="background-image: url('https://i3.ytimg.com/vi/kHg3DWgJb28/hqdefault.jpg');">
					  <a href="https://youtube.com/watch?v=kHg3DWgJb28" class="lty-playbtn" title="Play Video">
					    <span class="lyt-visually-hidden">La Reserve Golf Links</span></a>
					</lite-youtube>
					<h4>La Reserve Golf Links</h4>
			   	</div>
			</div>	
	
		</div>
 		{% include pastYear2023.html %}	
	</div>
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
