---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
 	<meta name="description" CONTENT="2024 Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Kidd Franz Clayton King Collins Matkovich Jackson Kahn">
	<title>New Golf Courses Completed 2024 - Golf Architecture - Renovation</title>
	<script src="https://cmp.osano.com/Azqae7Tg5rIXKJsl/a6843304-e87a-485e-aabb-2b21be3ed691/osano.js"></script>
 </head>

 <BODY>
	 <div style="width: 100%;">
		<div class="desktop-content">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<H1>2024 Golf Architecture New Construction Renovate Restore</H1>
				</div>
				<div class="col-md-2"></div>
			</div>

	
		</div>
 		{% include pastYear2024.html %}	
	</div>
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
