---

---
<html lang="en">
 <head>
	<title>Cox's Bazar Replaced by Cricket Stadium in Bangladesh</title>
	<meta name="description" CONTENT="Cox Bazar 9 hole Golf Bangladesh Cricket">
	{% include headerSM.html %}
</head>

<body>	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<H1>Cox's Bazar Replaced by Cricket Stadium in Bangladesh</H1> 
	<link rel="shortcut icon" type="image/png" href="/images/Fairway-Hole-2.png">
	<script type="text/javascript" src="https://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js"></script> 
	<link rel="stylesheet" href="https://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css"> 
	<div id="storyMap"></div>

	  <script> 
		"use strict";
				  
		// JSON file containing data for the Story Map
		const storymap_data =  "https://fescue.github.io/data/Cox-Bazar-Golf.json";

		// Options for Story Map
		const storymap_options = {
				  language: "en",
				  map_type: "osm:standard",
				  calculate_zoom: false
				};

				// the Story Map object
				const storymap = new VCO.StoryMap("storyMap", storymap_data, storymap_options);

				// Leaflet Zoom control
				const zoomControl = L.control.zoom({ position: "topleft" });

				// Leaflet Full-Screen control
				const fullscreenControl = new L.Control.Fullscreen({
				  position: "topleft"
				});

				// grouping of controls
				const leafletControlsToAdd = [zoomControl, fullscreenControl];

				// event for when the Story Map is loaded
				storymap.on("loaded", function() {
				  // leaflet.js web map object
				  const leafletMap = storymap.map;

				  // add controls to Leaflet web map
				  leafletControlsToAdd.forEach(element => leafletMap.addControl(element));
				});			  
	</script> 
	<script type="text/javascript" class="init"></script> 
    	<p><a href="https://www.thegolfhousebd.com/fairways-to-heaven-golf-country-club-coxs-bazar/">Early Review</a></p>
    	<p><a href="https://fescue.github.io/Golf-National-Romania/">Romania - National Golf & Country Club</a></p>
   	<p><a href="https://fescue.github.io/The-Apogee-Club/">Mike Davis: Hanse + Fazio at The Apogee Club</a></p>
	
   	<p><a href="https://fescue.github.io/Legacy-Club-Emerald-Bay/">Legacy Club Emerald Bay in Arizona</a></p>
	

  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
