---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fall Line - East Course</title>
  <meta name="description" CONTENT="Fall Line Golf Club East Course Heathland Sand Hills Butler Georgia Oglivy Cocking Mead">
  <link rel="stylesheet" href="/css/lite-yt-embed.css" 
  {% include headerI.html %}
</head>

<body>
	
  <H1>Fall Line - East Course</H1>
  <div class="container">
    <div class="row">
		 <div class="col-md-6 col-sm-12">
			<p>Fall Line Golf Club East Course is designed by Oglivy Cocking Mead(OCM).  The East Course is inspired by heathland golf courses in England.  <a style='font-weight:bold' href='https://fescue.github.io/Fall-Line-Golf'>Fall Line Golf Club</a> is in Butler, Georgia.</p> 
			<p>Fairways are zoysia grass.  Greens are planted in TifEagle bermudagrass.</p>
			<p>Play from the first tee is shared with the <a style='font-weight:bold' href='https://fescue.github.io/Fall-Line-West-Course/'>West Course</a>.  The East course teeground plays down the fairway on the right to a par 4 of 425 yards.  The teeground also shares ground and plays as a practice putting green.</p>
			<img src="https://fescue.github.io/images/Fall-Line-East-Course-Scorecard.png" alt="Fall Line East Course Scorecard">
		 </div>  
    </div>
  </div>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
