---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Firefly - New Andrew Green Golf Course - Tennessee</title>
	<meta name="description" CONTENT="Firefly Andrew Green New Golf Course Architect GCA Master Planned Community Real Estate Home Nashville Tennessee">
	{% include hLeaflet.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Firefly"></div>
		  <div class="content" tabindex="0"  aria-label="Golf Course">
			<H1>Firefly - New Andrew Green Golf Course - Tennessee</H1>
			<p><a style='font-weight:bold' href='https://fireflyliving.com/' target='_blank' rel='nofollow'>Firefly</a> is a new community and golf course planned in Tennessee.  Located thirty miles south of Nashville in the foothills of the Appalachian Mountains, the property is 400+ acres and will feature 250 homes.  Planned amenities will include five miles of walk/bike trails.  Golf course construction is underway in 2025.</p>
		  	<p>Firefly Golf Course is designed by golf architect <a style='font-weight:bold' href='https://greengolfandturf.com/andrew' target='_blank' rel='nofollow'>Andrew Green</a> and started construction in early 2025.  The 18-hole championship course will play 7,200 yards, par-72 from the back tees.  Andrew Green will also design/build a short course to be included in the community's amenities.  Facilities will include driving range with short game practice greens.  <a style='font-weight:bold' href='https://www.instagram.com/gcshaper/' target='_blank' rel='nofollow'>Scott Laughlin</a> and <a style='font-weight:bold' href='https://hawkshawlfx.com/' target='_blank' rel='nofollow'>Hawk Shaw</a> are active onsite golf construction contractors building and shaping the golf course.</p>
	  		<p>New golf courses in the Nashville area are growing. Hanse Golf Course Design opened the Upper Course at the Golf Club of Tennessee in autumn 2024, and <a style='font-weight:bold' href='https://fescue.github.io/Bounty-Club/' target='_blank'>Bounty Club</a> is expected to open in 2026.</p>
			<p>Golf architect Andrew Green had a busy 2024 with notable openings at Interlachen in Minnesota and East Lake in Atlanta.  Green has started initial phases of clearance at new golf course/club <a style='font-weight:bold' href='https://fescue.github.io/Kawonu-Golf-Club/' target='_blank'>Kawonu Golf Club</a> in South Carolina.</p>
			<p><a style='font-weight:bold' href='https://www.linkedin.com/in/august-rocco-93b86aa3/' target='_blank' rel='nofollow'>August Rocco</a> is the superintendent at Firefly.  Rocco will join the Firefly team as Director of Golf Maintenance in January 2025.  Rocco has a degree in Turfgrass Management from the University of Georgia and has over 10 years of experience in the golf course industry. He is a certified Golf Course Superintendent by the <a style='font-weight:bold' href='https://www.gcsaa.org/' target='_blank' rel='nofollow'>Golf Course Superintendents Association of America</a>(GCSAA).  Rocco was previously the grow-in superintendent at <a style='font-weight:bold' href='https://fescue.github.io/Fall-Line-Golf/' target='_blank'>Fall Line Golf Club</a>.</p>
 		        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/1055320155?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Firefly – January 2025 Golf Construction Update"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
		  </div>
	  </div>
	
    <script>
                const map = L.map('map').setView([35.738698,-86.844035], 8);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
	                
	                // Your lite-youtube HTML
	                this._container.innerHTML = `
	                    <lite-youtube videoid="XetWkH5t4yA" style="background-image: url('https://i3.ytimg.com/vi/pXzIU66L85M/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=pXzIU66L85M" class="lty-playbtn" title="Play Video.  Credit: Storied Development">
	                            <span class="lyt-visually-hidden">Credit: Firefly Living</span>
	                        </a>
	                    </lite-youtube>
	                `;
			
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                    var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([35.738698,-86.844035]).addTo(map);
	        marker.bindPopup("<b>Firefly</b><br>Maury County</br>").openPopup();
  </script>
  <p><a href="https://fescue.github.io/Lake-Martin-Wicker-Point-Golf/">Wicker Point - Coore/Crenshaw in Alabama</a></p>
  <p><a href="https://fescue.github.io/Broomsedge-Golf-Club/">Kyle Franz/Mike Koprowski - Broomsedge in South Carolina</a></p>
  <p><a href="https://fescue.github.io/Old-Sawmill-Golf/">Tyler Rae - Old Sawmill in South Carolina</a></p>
  {% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
