---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Golf National Romania - Stirling & Martin Golf Design</title>
	<meta name="description" CONTENT="18 hole championship golf course Golf National Romania Stirling Martin Golf Course Architect">
	{% include h50.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Romania"></div>
		<div class="content" tabindex="0"  aria-label="Golf Romania">
			<H1>Golf National Romania - Stirling & Martin</H1>
			<p><a style='font-weight:bold' href='http://stirlingmartingolf.com/es/golf-bucarest/' target='_blank' rel='nofollow'>Golf National Romania</a> is a new golf resort in Niculești, Romania, a 30-minute drive north of Bucharest.  The project is being developed by Turkish-Romanian entrepreneur Metin Doğan.  The budget is 60 million Euros.  The golf course is expected to open in 2024.</p>
			<p>The golf course is designed by <a style='font-weight:bold' href='https://www.linkedin.com/posts/marco-martin-16232027_national-golf-niculesti-romania-first-stirling-activity-6979721270854627328-Imeg' target='_blank' rel='nofollow'>Marco Martin</a>, EIGCA.  Marco Martin has a Masters Degree in Agricultural Engineering from Universidad Politécnica in Madrid, Spain.  Martin's talents are influenced by his technical background, particularly in emphasizing sustainability with efficient use of water in arid climates.  Environmental preservation.</p>
			<p>The property setting is large forest background with a wide variety of holes, including a par 3 island green resembling TPC Sawgrass in Florida.</p>
			<p>The golf resort at <a href="https://nationalgolf.ro/">National Golf & Country Club</a> will also have five-star hotel 170 villas and 100 apartments, a wellness center, tennis courts, and event hall.  The project is a public-private venture funded by a combination of private investment and government grants.  The golf course is the first championship golf course in greater Bucharest and is aiming to attract traveling golf tourism interest from all over the world.</p>
		</div>
	</div>       
	
	<script>	
                const map = L.map('map').setView([44.4379268,26.0244265], 10);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');

    	                // Your lite-youtube HTML
	                this._container.innerHTML = `
	                    <lite-youtube videoid="7IImyFH3Yu0" style="background-image: url('https://i3.ytimg.com/vi/7IImyFH3Yu0/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=7IImyFH3Yu0" class="lty-playbtn" title="Play Video.  Credit: National Golf">
	                            <span class="lyt-visually-hidden">Credit: National Golf</span>
	                        </a>
	                    </lite-youtube>
	                `;
	        
	        
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([44.4379268,26.0244265]).addTo(map);
	        marker.bindPopup("<b>Golf National Romania</b><br>Niculești, Romania</br>").openPopup();
	</script>
	<p><a href="https://www.thediplomat.ro/2023/04/03/businessman-metin-dogan-invests-60-million-euro-in-the-development-of-national-golf-country-club-the-largest-golf-resort-in-romania/">60 Million Euro Investment</a></p>
	<p><a style='font-weight:bold' href="https://fescue.github.io/Hogans-Gully/">Hogans Gully in New Zealand</a></p>
	<p><a style='font-weight:bold' href="https://fescue.github.io/Panther-National/">Nicklaus' Panther National</a></p>
	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
