---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	{% include header.html %}
	<meta name="description" CONTENT="New Golf Course Architecture On Hold Permits NLE Construction Doak Hanse Coore Crenshaw Norman Nicklaus Kidd">
	<title>Golf Course on Hold, Incomplete, NLE</title>
</head>

<BODY>
	<H1>On Hold, Incomplete, Pending Approval, NLE(No Longer Exists)</H1>
	<H2>  <p><a href="https://fescue.github.io/">Return to active projects</a></p> </H2>

	{% include pastIncomplete.html %}	

	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
