---

---
<!DOCTYPE html>
<html lang="en">
 <head>		
	{% include headerIndex.html %}
	<meta name="description" CONTENT="Golf Course Architecture New Renovation Restoration Construction Doak Hanse Coore Crenshaw Norman Nicklaus Kidd Franz Clayton King Collins Dormer LaBar">
	<title>New Golf Course - Golf Architecture - Routing Renovation Restoration</title>
 </head>

<BODY>
	<div style="width: 100%;">
		{% include Year.html %}
	</div>
	
	<H1><a href="https://fescue.github.io/iMap/">New Golf Course Bucket List</a> </H1>
	
	<p id="done"></p>
	
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
