---

---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Oklahoma - Municipal Golf Kickingbird - Matthew Dusenberry</title>
	<meta name="description" CONTENT="Edmond Oklahoma Municipal Golf Reopens at Kickingbird Matthew Dusenberry">
	{% include headerSM.html %}
</head>

<body>
	<div class="container">
	    	<div class="row">
		      	<div class="col-sm-6">
		        	<h1>Edmond, Oklahoma - Municipal Golf Reopens at Kickingbird</h1>
					<p><a href='https://www.facebook.com/kickingbirdgolf/' target='_blank' rel='nofollow'>Kickingbird Golf Course</a> is a municipal golf course in Edmond, Oklahoma recently renovated by <a href='https://www.dusenberrydesign.com/' target='_blank' rel='nofollow'>golf architect Matthew Dusenberry</a>.  Dusenberry is an up and coming golf course architect known for his expertise in designing and renovating golf courses.  The course has reopened in June 2023 after a significant renovation aimed at enhancing the course and attracting a wider audience.  The original course was designed by Arthur Hills in 1971.  With an investment of nearly $21 million, the renovated facility boasts state-of-the-art amenities.  Most of the renovation budget was allocate to the clubhouse/driving range.</p>
					<p>Over $5 million went to the golf course renovation facility.  The driving range has also been expanded significantly offering the latest golfing TrackMan Range technology for both serious and casual golfers via the TrackMan mobile app.  The range pavilion provides further entertainment through <a href='https://www.flitegolf.com/' target='_blank' rel='nofollow'>Flite Golf Technology</a>.  The facility will offer a instructional programs led by PGA professionals to the community through its Junior Golf Academy.</p>
			</div>
			<div class="col-sm-6">
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/hSr3KRx4-uc" title="Kickingbird Hole 17" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
	    	</div>
		<div class="row">
			<div class="col-sm-6">
			        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/Cj0tNc2P9MS/" data-instgrm-version="13"></blockquote>
			        <script async src="https://www.instagram.com/embed.js"></script>
			 </div>
		
			 <div class="col-sm-6">
					<p>Dusenberry has lengthened the course by 200 yards.  Tips now are almost 7,000 yards.  All greens have been reconstructed with some strategic re-routing of some holes.  Fairways have been widened to accomodate the modern game's driver distances.  Turfgrass in the fairways were sprigged with <a href='https://tahoma31.com/' target='_blank' rel='nofollow'>Tahoma 31 bermudagrass</a>.  Focused on water conservation, a new irrigation system has been installed to manage fairway and greens coverage better.  Additionally, the property has a well adjacent to the 17th hole.  The golf course has already been named to host prestigious events, namely the NCAA Men's Division II Super Regional in 2024 and the NCAA Women's Division II Super Regional in 2025.</p>
					<p>Climate: Average wind speed in Edmond, Oklahoma varies by season. Windiest season is from February to June with average wind speeds of more than 11 miles per hour. Summer is generally a calm time of year.</p>
			 </div>
		</div>
	</div>
	<p><a href="https://www.edmondok.gov/CivicAlerts.aspx?AID=1039">City of Edmond - Municipal Golf</a></p>
	<p><a href="https://fescue.github.io/Warmouth-Sands/">Georgia - Warmouth Sands - Municipal Golf</a></p>
	<p><a href="https://fescue.github.io/Rodeo-Dunes-Golf/">Colorado - Rodeo Dunes</a></p>
	{% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
