---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Trump International Golf Club Lido in West Java, Indonesia</title>
	<meta name="description" CONTENT="New Golf Course Trump International Golf Club Lido Lakes Resort West Java Indonesia Ernie Els Greg Letsche Renovation Routing Bunker Greens Sand">
	{% include h.html %}
</head>
		
<body>
	<div class="main-container" role="main">
		<div id="map" aria-label="Stonebridge"></div>
			<div class="content" tabindex="0"  aria-label="Kipp Schulties">
				<H1>Ernie Els Signature Design - West Java Indonesia</H1>
				<p>Founder and Executive Chairman Hary Tanoesoedibjo of MNC Land is launching <a style='font-weight:bold' href='https://www.mncland.com/trumplido' target='_blank' rel='nofollow'>Trump International Golf Club Lido</a>.  The golf course opened in 2024.  The Els/Letsche design team are known for their work renovating the Wentworth West Course in England to host the BMW Championship on the DP World Tour.</p>
				<p>Ernie Els and golf architect Greg Letsche have designed and built the <a style='font-weight:bold' href='https://www.instagram.com/trumpgolflido/' target='_blank' rel='nofollow'>new 18 hole golf course</a> a short drive south of Jakarta, Indonesia.  Shaper Peter Waddell was onsite construction with in house support from MNC lead Dustin Jennings and Ariana Pandit.</p>
				<p>Atlas Turf International supplied turfgrass.  Golf Course Superintendent <a style='font-weight:bold' href='https://www.linkedin.com/in/michael-pascoe-cstm-446b7812' target='_blank' rel='nofollow'>Mick Pascoe</a> led the grow in phase of Zorro Zoysia tees and fairways.  TifEagle greens are planted at 600+ meters elevation above sea level.  Pascoe has former experience at leading edge turf supplier <a style='font-weight:bold' href='https://sportsturfsolutions.com/' target='_blank' rel='nofollow'>Sports Turf Solutions</a> </p>
				<p>General Manager <a style='font-weight:bold' href='https://www.linkedin.com/in/steventhielke/' target='_blank' rel='nofollow'>Steven Thielke(CCM)</a> was been appointed to open the new golf club.  Thielke has past leadership experience as CEO of Sime Darby Property’s Leisure Division and at Kuala Lumpur Golf & Country Club (KLGCC), and Singapore Island Country Club.</p>
				<p>Trump International Golf Club Lido features long views of Mount Gede, Mount Salak, Mount Pangrango make the ridgetop golf course property in West Java Lido Lakes Resort region most scenic.  Address in West Java: Jl. Raya Bogor No.Km 21, Watesjaya, Kec. Cigombong, Kabupaten Bogor, Jawa Barat, Indonesia</p>
				<p>Hary Tanoesoedibjo is also the owner and CEO of PT Bali Nirwana Resort.  Timeline for rebuilding the golf course on Bali is being established and will feature a Trump Golf Course as well.  Rebuilding the former <a style='font-weight:bold' href='https://golf.com/travel/top-100-vote-how-we-decide-our-course-rankings/' target='_blank' rel='nofollow'>Golf Magazine Top 100</a> golf course on Bali is keenly anticipated.</p>
			</div>
	</div>

	<script>
            const map = L.map('map').setView([-6.756183,106.8202223], 7);
            const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 30,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			}).addTo(map);

			L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
					this._map = map;
					this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
					
					// Your lite-youtube HTML
	                this._container.innerHTML = `
	                    <lite-youtube videoid="UkPVRuCpXBE" style="background-image: url('https://i3.ytimg.com/vi/UkPVRuCpXBE/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=UkPVRuCpXBE" class="lty-playbtn" title="Play Video.  Credit: Hary Tanoesoedibjo">
	                            <span class="lyt-visually-hidden">Credit: Hary Tanoesoedibjo</span>
	                        </a>
	                    </lite-youtube>
	                `;
			
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([-6.756183,106.8202223]).addTo(map);

	        marker.bindPopup("<b>Trump International Golf Club Lido</b><br>West Java Lido Lakes</br>").openPopup();
	</script>
	<p><a href="https://fescue.github.io/Shura-Island-Resort/">Shura Island Golf Resort</a></p>
   	<p><a href="https://fescue.github.io/Singapore-Island-Country-Club/">Nelson & Haworth - Singapore Island Country Club</a></p>
	<p><a href="https://fescue.github.io/Abu-Dhabi-Resort-Garden/">Abu Dhabi Resort & Spa Garden Course Renovation</a></p>
	<p><a href="https://fescue.github.io/Pines-Crossing-Golf/">Pines Crossing Golf Course in Alabama</a></p>

	{% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
