---

---
<html lang="en">
<head>
  <title>Texas - Pine Ranch Golf</title>
  <meta name="description" CONTENT="Texas Pine Ranch Chet Williams Scottie Scheffler New Golf Course Design Architect Sand Bunker Green">
  {% include headerI.html %}
</head>
  
<body>
  <div class="container">
      <div class="col-md-6 col-sm-12">
		<H1>Pine Ranch Golf: Scheffler + Chet Williams</H1>
		<p>Golf architect <a style='font-weight:bold' href='https://x.com/ChetWil73039063' target='_blank' rel='nofollow'>Chet Williams</a> and PGA Tour Scottie Scheffler are teaming up to create a new golf course at Pine Ranch east of Dallas.</p>
		<p>After reading George Thomas' book on golf architecture, <a style='font-weight:bold' href='https://www.pgatour.com/article/news/latest/2024/03/11/q-and-a-scottie-scheffler-on-his-return-to-tpc-sawgrass-pickleball-first-course-design-project-players-championship' target='_blank' rel='nofollow'>Scheffler</a> became interested in design and aiding Williams with planning the new golf course.</p>
		<p>Design boutique firm <a style='font-weight:bold' href='https://x.com/ChetWil73039063' target='_blank' rel='nofollow'>three</a> will lead clubhouse design.</p>
	      
	      	<div class="substack-post-embed"><p lang="en">Lessons from the Masters by Tim Yeo</p><a data-post-link href="https://timyeogolf.substack.com/p/lessons-from-the-masters">ONLY FRIENDS YOU HAVEN’T YET MET</a></div><script async src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>
	</div>
    </div>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
