---

---
<!DOCTYPE html>
<html lang="en">
 <head>		
	{% include headerIndex.html %}	 
	<meta name="description" CONTENT="Golf Course Proposals Application Permit Approval Land Planning Design Architecture New Renovation Restoration Doak Hanse Coore Crenshaw Norman Nicklaus">
	<title>Proposals - Golf Course - Architecture - Renovation Restoration</title>
 </head>

<BODY>
	<H1>New Proposals - Golf Architecture - Renovation Restoration</H1>
	<div style="width: 100%;">
		{% include YearP.html %}
	</div>
	<p id="done"></p>
	{% include bodyFooter.html %}
 </BODY>
 {% include footer.html %}
</html>
