---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Rob King/Tad Collins - Red Feather - Lubbock, Texas</title>
	<meta name="description" CONTENT="New Golf Course King Collins Sand Lubbock Texas">
	{% include h.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Sand Hills in Georgia"></div>
		<div class="content" tabindex="0"  aria-label="Golf Course Build">
				<H1>Rob King, Tad Collins - Red Feather Golf & Social Club - Lubbock, Texas</H1> 
				<p>Opened in 2023, <a style='font-weight:bold' href='https://redfeathergc.com/' target='_blank' rel='nofollow'>Red Feather Golf and Social Club</a> is a new private golf club in Lubbock, Texas designed by <a style='font-weight:bold' href='https://kingcollinsgolf.com/' target='_blank' rel='nofollow'>Rob King and Tad Collins</a>.  King Collins have been innovators with new ideas in golf course architecture design variety over the past few years with the Sweetens Cove in Tennessee and Landmand in Nebraska.  The course opened in the second half of 2023.  The property covers 135 acres of land featuring 18 holes of championship golf with 7000+ yards from the back tees.</p>
				<p>Owner Brad Ralston invested in sustainable measures for water collection in the 6 acre lake onsite.  Challenge is built into the design.  For example, the 11th hole is a 501 yard par four.  For water capacity usage, additional wells off-site are available for future potential growth.<p>Fairways are Innovation Zoysia grass.  <a style='font-weight:bold' href='https://agrilifetoday.tamu.edu/2020/05/05/texas-am-agrilife-research-breeds-viable-zoysia-grass-for-putting-greens' target='_blank' rel='nofollow'>Innovation Zoysia</a> was developed at Texas A&M.  Greens were seeded in T-1 Bentgrass.  Stimpmeter readings around 12 feet, 10 inches were observed in December 2023 shortly after opening.</p><p><a style='font-weight:bold' href='https://twitter.com/garrettwestholt' target='_blank' rel='nofollow'>Garrett Holt</a>, Director of Agronomy is the grow-in superintendent and has stayed on as the club's permanent course manager overseeing the grounds.</p>
				<p>Ludvig Åberg is a recent, nearby Texas Tech graduate and now enjoys playing at Red Feather.</p>
				<p>Lubbock's turfgrass growing conditions are a semi-arid climate with a hot and dry summer vs. generally a mild winter. Average temperature in Lubbock ranges from 34°F in January vs. 93°F in July.  Red Feather should average about 18 inches of rainfall per season, mostly during spring and summer.</p>
			</div>
	</div>

    <script>
                const map = L.map('map').setView([33.591351,-102.028532], 8);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
					
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                    var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([33.591351,-102.028532]).addTo(map);
	        marker.bindPopup("<b>Red Feather</b><br>Lubbock, Texas</br>").openPopup();
  </script>
	<p><a href="https://fescue.github.io/Bounty-Club/">King Collins' Bounty Club in Nashville</a></p>
	<p><a href="https://fescue.github.io/Travis-Club/">Travis Club in Texas</a></p>
	<p><a href="https://fescue.github.io/Freestone-Lake-Golf-Club/">Freestone Golf Club in Texas</a></p>
  {% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
