---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Soma Bay - Seaside Golf Resort on the Red Sea in Egypt</title>
	<meta name="description" CONTENT="Soma Bay Seaside New Golf Course Resort Red Sea Egypt Lobb Construction EIGCA Paspalum">
	{% include h.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Egypt"></div>
		<div class="content" tabindex="0"  aria-label="Resort">
			<H1>Soma Bay - Red Sea Golf Resort</H1>
			<p>CEO <a style='font-weight:bold' href='https://www.linkedin.com/in/ibrahim-el-missiri-9b68931/' target='_blank' rel='nofollow'>Ibrahim El Missiri</a> has advanced Somabay Golf Resort in Hurgada, Egypt by adding a second golf course designed by <a style='font-weight:bold' href='https://www.lobbandpartners.com/' target='_blank' rel='nofollow'>Tim Lobb</a>, <a style='font-weight:bold' href='https://www.eigca.org/' target='_blank' rel='nofollow'>EIGCA</a> and <a style='font-weight:bold' href='https://www.instagram.com/edi__golf/' target='_blank' rel='nofollow'>James Edwards</a>, <a style='font-weight:bold' href='https://www.eigca.org/' target='_blank' rel='nofollow'>EIGCA</a>.  The property is located on the Red Sea coast.  As of March 2024, the second course is under construction and has started grassing.  The inland portion of the 1,100+ hectare resort is desert and mountain view terrain.</p>
			<p>Tim Lobb is a British golf course architect and a member of the European Institute of Golf Course Architects (EIGCA). Tim Lobb's design philosophy focuses on sustainability by routing golf courses through the natural environment while providing an enjoyable playing experience for golfers of all golf handicap skill levels.  Unique, memorable golf courses with the preservation of natural resources minimizing water usage by choice of Paspalum turfgrass.  Adherence to native flora and fauna are all design, land planning choices from Lobb.</p>
			<p>Course Manager <a style='font-weight:bold' href='https://www.linkedin.com/in/andrew-hughes-a3187346/' target='_blank' rel='nofollow'>Andrew Hughes</a> was the onsite for golf course construction and grow in.  The team worked in conjunction with New Golf Course Development Consultant <a style='font-weight:bold' href='https://www.linkedin.com/in/andrew-hughes-a3187346/' target='_blank' rel='nofollow'>Mohammed Attallah, CCM</a>.  Springtime temperatures in March through May range from about 20°C (68°F) to 30°C (86°F).  The resort has a par 3 course designed by Lobb and second full 18 hole golf course designed by Gary Player.</p>
			<div class="substack-post-embed"><p lang="en">You're a golfing virgin if you haven't played alternate shot foursomes"  by Tim Yeo</p><a data-post-link href="https://timyeogolf.substack.com/p/youre-a-golfing-virgin-if-you-havent">ONLY FRIENDS YOU HAVEN’T YET MET</a></div><script async src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>
		</div>
	</div>

	    <script>
                const map = L.map('map').setView([26.7342848,34.0006773], 6);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
					
	                // Your lite-youtube HTML
	                this._container.innerHTML = `
	                    <lite-youtube videoid="_2uUAvePk94" style="background-image: url('https://i3.ytimg.com/vi/_2uUAvePk94/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=_2uUAvePk94" class="lty-playbtn" title="Play Video.  Credit: LOBB + PARTNERS">
	                            <span class="lyt-visually-hidden">Credit: LOBB + PARTNERS</span>
	                        </a>
	                    </lite-youtube>
	                `;
	        
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                    var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([26.7342848,34.0006773]).addTo(map);
	        marker.bindPopup("<b>Red Sea</b><br>Egypt</br>").openPopup();
  </script>
	<p><a href="https://fescue.github.io/Rivergrass-Golf/">Rivergrass in Florida</a></p>
	<p><a href="https://fescue.github.io/Shura-Island-Resort/">Shura Island Resort on the Red Sea in Saudi Arabia</a></p>
	<p><a href="https://fescue.github.io/Hann-Reserve/">ASEAN Golf - Hann Reserve</a></p>
  {% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
