---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Tribute Club - New Golf Resort in Oregon</title>
	<meta name="description" CONTENT="Tribute Club Thornburgh Resort Oregon Rod Whitman Dave Axland Keith Cutten">
	{% include h50.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Austin"></div>
		<div class="content" tabindex="0"  aria-label="Golf">
			<H1>Tribute Club - Rod Whitman, Dave Axland, Keith Cutten</H1> 
			<p><a style='font-weight:bold' href='https://www.facebook.com/Thornburghresort/' target='_blank' rel='nofollow'>The Tribute Club at Thornburgh</a> in Oregon is a new golf course located in Redmond, Oregon at the base of the Cline Buttes mountains.  Golf architects <a style='font-weight:bold' href='https://wac.golf/' target='_blank' rel='nofollow'>Whitman Axland & Cutten (WAC)</a> designed and led the build.  The 2,000 acre site offers panoramic views of the Cascade Range and the Three Sisters peaks.</p>
			<p>Originally used as a family ranch for over 70 years, the land features sagebrush. The initial plan for a golf course by Bill Coore and Ben Crenshaw with Dave Axland in 2006 but was delayed due to the global financial crisis.  Years later, owner Kameron Delashmutt brought the plans back to Coore, and he recommended WAC for the project.</p>
			<p>The walk is a classic figure eight routing, maximizing the dramatic features of the land-forms.  The site includes a steep ridge with rock outcroppings adding to the course's visual appeal.  Construction began in 2021, with the course's rough shaping and irrigation lakes nearing completion as of 2022.  The course will open for play in 2024 with a focus on golf in the natural environment of Oregon.  Notable holes may include the dramatic tee shot from the 5th hole descending into a valley.  The 10th hole features a split fairway and strategic bunkering.  Beyond the Contour's <a style='font-weight:bold' href='https://beyondthecontour.com/early-thoughts-from-a-too-early-visit-to-thornburgh-resort/' target='_blank' rel='nofollow'>Andrew Harvie</a> featured the 3 long par 5's on his 2023 visit before grow in started.</p>
		</div>
	</div>       

    <script>
                const map = L.map('map').setView([44.247435,-121.3212], 9);
                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

	        L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');

					// Your lite-youtube HTML
					this._container.innerHTML = `
	                    <lite-youtube videoid="4-lSaHHvvA4" style="background-image: url('https://i3.ytimg.com/vi/4-lSaHHvvA4/hqdefault.jpg');">
	                        <a href="https://youtube.com/watch?v=4-lSaHHvvA4" class="lty-playbtn" title="Play Video.  Credit: Thornburgh Resort">
	                            <span class="lyt-visually-hidden">Credit: Thornburgh Resort</span>
	                        </a>
	                    </lite-youtube>
	                `;
	                	        
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                    var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	        });
	
	        // Add the custom overlay to the map
	        var myCustomOverlay = new L.CustomOverlay();
	        myCustomOverlay.addTo(map);
	
	        // Add a marker to the map at the same location as the map center
	        var marker = L.marker([44.247435,-121.3212]).addTo(map);
	        marker.bindPopup("<b>Tribute Club at Thornburgh Resort</b><br>Redmond, Oregon</br>").openPopup();
  </script>
	<p><a href="https://fescue.github.io/Bounty-Club/">King Collins - The Bounty Club</a></p>
  {% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
