	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CE7ZF0C1GD"></script>
	<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'G-CE7ZF0C1GD');
	</script>
	<script type="text/javascript">
	    (function(c,l,a,r,i,t,y){
	        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
	        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
	        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
	    })(window, document, "clarity", "script", "h4dgedaqyl");
	</script>
	<link rel="stylesheet" href="/css/styles.css">

  	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
 	<meta name="msvalidate.01" content="F27967019E01C1777A8C10B926D4619A" />
	<link rel="shortcut icon" type="image/jpg" href="/images/Fairway.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
	<link defer rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
	<link defer rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
	<style type="text/css" class="init">	
		div.container { max-width: 1200px ; min-height: 22000px ; }	
		#myTable.display.dataTable tbody tr td {
			font-size: 12px;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		
		#myTable.display.dataTable tbody tr {
			height: auto;
			font-size: 12px;
		}
		
		footer {
			width: 100%;
			min-height: 40px; /* Adjust based on actual content size */
			background-color: #f0f0f0; /* Optional: for better visibility */
			position: relative;
		}
		footer nav {
			padding: 10px; /* Provide some padding inside the footer */
		}
		footer a {
			min-width: 40px; /* Reserve enough space for text to prevent layout shifts */
			display: inline-block;
			text-align: center;
		}
	</style>
    	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
	<script defer type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
	<script defer type="text/javascript" language="javascript" src="https://cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"></script>
	<script type="text/javascript" class="init"></script>
