	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CE7ZF0C1GD"></script>
	<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'G-CE7ZF0C1GD');
	</script>
	<script type="text/javascript">
	    (function(c,l,a,r,i,t,y){
	        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
	        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
	        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
	    })(window, document, "clarity", "script", "h4dgedaqyl");
	</script>
	<link rel="stylesheet" href="/css/styleI.css">
	 
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34="/>
 	<meta name="msvalidate.01" content="F27967019E01C1777A8C10B926D4619A" />
	<link rel="shortcut icon" type="image/jpg" href="/images/Fairway.jpg">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<style type="text/css" class="init">	
			div.container { max-width: 1200px }
	</style>
	<script type="text/javascript" class="init"></script>
