		<table id="myTable" class="display">
			        <thead>
			            <tr>
    			                <th>Course</th>
			                <th>Closed</th>
			                <th>Location</th>
			                <th>Country</th>
			                <th>County</th>
			                <th>City</th>
			                <th>Developer</th>
			                <th>Budget</th>
			                <th>Status</th>
			                <th>Comments</th>
			            </tr>
			        </thead>
		</table>
		<script>
			    $(document).ready(function() {
			        var table = $('#myTable').DataTable({
					"ajax": "https://fescue.github.io/data/gNLE.json",
					responsive: true,
					order: [],
					orderable: true,
					sort: true,
			        	"columns": [
				                { "data": "G" },
				                { "data": "D" },
				                { "data": "L" },
				                { "data": "U" },
				                { "data": "E" },
				                { "data": "C" },
				                { "data": "J" },
				                { "data": "B" },
				                { "data": "S" },
				                { "data": "Z" }
						],
					stateSave: true,
					paging: false,
					deferRender: true
			        });
				    
			        // Initialize FixedHeader
			        new $.fn.dataTable.FixedHeader(table);
			    });
		</script>
